body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

button {
    padding: 10px 15px;
    margin: 10px 10px 20px 0;
    cursor: pointer;
}

/* Dark mode */
body.dark {
    background-color: #121212;
    color: white;
}
